# Python Ön Bellek Dosyaları
__pycache__/
*.py[cod]


# Sanal Ortamlar
venv/
.venv/

# Konfigurationen und sensible Daten ignorieren
configs/accounts.json
configs/settings_*.json

# Logs ignorieren (damit GitHub nicht zugemüllt wird)
logs/*.txt